.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  position: relative;

  .label {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
  }
  
  .time {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150px;
    white-space: pre;
  }

  .info {
    width: 45%;
    line-height: 90px;
  }

  .illustration {
    width: 55%;
  }

}
