@import 'variables.css';

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  transition: background-color .5s;

  &.free {
    background: var(--free);
  }

  &.busy {
    background: var(--busy);
  }

  &.toFree {
    background: var(--toFree);
  }

  &.toBusy {
    background: var(--toBusy);
  }

}
