@import '../../variables.css';

.BookNow {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: max-content;
  padding: 1em 3em;
  background-color: color(black alpha(10%));
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  outline: none;
}
